.post {
  margin: 30px;
  margin-left: 80px;
  /* margin-top: 50px; */
  border-bottom: 2px solid #a8a8a8;
}
.image {
  width: 845px;
  height: 450px;
  border-radius: 8px;
}

.author {
  display: flex;
  margin: 15px 0;
  padding: 10px;
  gap: 20px;
}
.author-info {
}
.author-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
.article {
  margin-top: 0;
  margin-bottom: 0;
  color: #111;
  font-family: Exo 2;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  width: 737px;
}
